
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">Senior Backend Engineer Job 
            </h3>
  <div class="card-body">
    <h6 class="card-title">bengaluru,karnataka
    <hr>
    <h6>JOB ROLE</h6>  
    <hr>

    <p class="card-text">

We are looking to hire Senior Backend Engineer, who ispassionate about writing code that 
processes terabytes of data in real-time affecting millions of users, creating best in class backend 
infrastructure that is super easy to operate.if you want to tackle hard and interesting problems at scale,
 and create an impact within an entrepreneurial environment, join us!
     </p>
  </div>
</div>

{% endblock %}