
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">Senior Backend Engineer Job 
            </h3>
  <div class="card-body">
    <h6 class="card-title">bengaluru,karnataka
    <hr>
    <h6>JOB ROLE</h6>  
    <hr>

    <p class="card-text">

• Manage the work pipeline of the creative team
<br>
• Coordinate with agencies, designers, copywriters, and other team members to ensure a smooth process flow.
<br>
• Conceptualise and present ideas as per the brief.
<br>
• Ensure smooth running of new projects
<br>
• Ensure that the design guidelines are implemented in all creatives that are released by the team
<br>
• Ideate creative pieces for social media, performance marketing, brand marketing, other offline channels etc.
<br>
• Maintain and deliver high-quality creatives on a regular basis
<br>
• Development of concepts to improve the quality of internal production, implementation of new worldwide-consistent standards.
<br>
• Management of internal and external resources of the overall job verticals of creativity
<br>
<hr>

<h6 ></h6>Experience / Background:</h6>
<br>

• Detail-oriented
<br>
• Strong creative research skills
<br>
• Ideation
<br>
• Action Biased
<br>
• Enjoy working in a dynamic environment


     </p>
  </div>
</div>

{% endblock %}