
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">SALES MANAGER – MSME LOANS
            </h3>
  <div class="card-body">
    <h6 class="card-title">Ahmednagar, Maharashtra
    <hr>
    <h6>JOB ROLE</h6>  
    <hr>

    <p class="card-text">

 Leading operations and implementation of projects at state/s level for entrepreneurs. 
  Ensure implementation of project including identification of schemes, evaluating entrepreneur needs, 
  creating project proposals along with different teams. o Develop partnerships with NGOs, Incubators,
   Govt. Depts., banks at the state/s level. o Team building and Empowerment - Building a pool of resource
    talent for managing projects and meeting key deliverables aligned to organizational goals and vision and 
    effectively engage with the Team for knowledge empowerment. o Innovative and quick thinking to arrive at 
    solution-driven processes for effective execution 
 o Support build of innovative and sustainable revenue and operational models to push the organization...
     </p>
  </div>
</div>

{% endblock %}