
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">SR.MARKETING EXECUTIVE (TEXTILE)
            PADMALAYA TEXTILE OF INDIA</h3>
  <div class="card-body">
    <h6 class="card-title">Bhubaneswar, Odisha 
            </h6>
    <hr>
    <h6>ELIGIBLE CRITERIA</h6>  
    <hr>

    <p class="card-text">•MBA (Marketing) OR Graduate/ Post Graduate in any other stream
<br>

• 10 Years experience in “B to B” or “B to C” Marketing for any standard products, preferably “Textile Product”
<br>
• Should have good communication skill in Hindi, Local Language, preferably in English
<br>
• Should have good knowledge of Computer, Internet, Net Banking and Mobile Banking
<br>
• Should have good knowledge in Proforma Invoice, Tax Invoice, GST, e-Way Bill, Purchase Order, Delivery Challan, F.O.R. & Transportation
<br>
• Experience in the Digital Marketing in the Textile Product or any other Product
<br>
• Own vehicle with a valid Driving License
  </div>
</div>

{% endblock %}