
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">fashion designer/Textile Designer/sketch Specialist/Garment Designer
            Fly Care India
            </h3>
  <div class="card-body">
    <h6 class="card-title">Amritsar, Punjab
            </h6>
    <hr>
    <h6>JOB DESCRIPTION</h6>  
    <hr>

    <p class="card-text">Responsibilities Define, design and implement a creative visual merchandising 
    strategy Create appealing and eye-catching visual displays that lead the customer through the entire 
    store Produce window displays, signs, interior displays, floor plans and special promotions displays 
     key messages and set a clear image of the end result Come up with, revise and present design ideas with
      assistant merchandisers Act in alignment to the organizations culture, products, image and target market 
      Monitor costs and work within budget Oversee the production and brief staff on arranging displays Change
       displays to promote new product launches and reflect festive or seasonal themes Liaise with suppliers and 
       source elements Research lifestyle,
     demographics and design trendsROLE-fashion designer/Textile Designer/sketch Specialist/ Apparel/Garment Designer.</p>
  </div>
</div>

{% endblock %}