
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">CRM - Tele Caller - Real Estate
            </h3>
  <div class="card-body">
    <h6 class="card-title">Raipur,Chhattisgarh
    <hr>
    <h6>JOB ROLE</h6>  
    <hr>

    <p class="card-text">1. Need is to call customers who have already shown interest in our projects / new clients and explain them about the projects and send them details through emails.
        <br>

 2. Generating leads for real estate sales through cold calling
 <br>
3. Calling customers and fixing site visit and coordinating with sales consultant and customers.
<br>
4. Provide complete details regarding the project to customers via mail and handle all clients in very professional and courteous manner.
<br>
<br>

Desired profile of the candidate skills:
<br>
<br>
Prefer female candidate.
<br>
Excellent communication skills
<br>
Fluent in English and any other regional languages
<br>
Excellent Customer service skills
<br>
Good sales expertise
<br>
Proactive and willing to learn about Real Estate market.
<br>
The prospective leads would be then passed on to...


 
     </p>
  </div>
</div>

{% endblock %}