
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">Business Development Managers/female/freshers 
            </h3>
  <div class="card-body">
    <h6 class="card-title">Vijayawada,Andhrapradesh
    <h6>JOB ROLE</h6>  
    <hr>

    <p class="card-text">

 
1. Strong familiarity with local Commercial/ Corporate Real Estate market and Infrastructure expansion
<br>
2. Identify new clients/ prospects and build upon information collated
<br>
3. Develop and nurture harmonious relationship with existing/new clients though proactive calls, personal meetings, build network
<br>
4. Build Proposals and presentations for assigned enquiries
<br>
5. Arrange and conduct Site/ Building Inspections smoothly in terms of planning, punctuality, access to the premises etc.
<br>
6. Initiate meetings & negotiations ensuring Client, Developer/Landlord and Senior managers are well represented at table
<br>
7. Close Transactions, Assist in documentation and Lease Due diligence
<br>
8. Achieve the agreed Revenue target in terms of fees earned
<br>
9. Participate in daily/weekly/ monthly reviews, prepare reports and discuss new avenues of generating business
<br>
<br>
Skills Required- undefined, undefined, undefined, undefined, undefined, Business Development, Real Estate
 
 
     </p>
  </div>
</div>

{% endblock %}