
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">Communications Manager - Real Estate
            </h3>
  <div class="card-body">
    <h6 class="card-title">Chennai , Tamilnadu
    <hr>
    <h6>JOB ROLE</h6>  
    <hr>

    <p class="card-text">

 - Developing and executing a communications strategy for our existing properties
<br>
- Maintain relationships with high-level management of these apartment complexes: Association or developer themselves
<br>
- Organize community engagement activities
<br>
- Conceptualizing and implementing brand properties like podcasts, conferences, etc
<br>
- Creating content for industry articles, blogs, and newsletters. Overseeing design and production for the same.
<br>
- Drafting press releases and coordinating with PR partners
<br>
- Designing world-class PowerPoint presentations and other marketing materials
<br>
- Building relations with external industry partners including venture funds, impact funds, startups, and corporates.
<br>
- Collaborating with internal and external teams for the smooth functioning of all communications activities.

     </p>
  </div>
</div>

{% endblock %}