
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">Jobs for sales officer-Reputed textile Industry</h3>
  <div class="card-body">
    <h6 class="card-title">Seven Consultancy (HR Solution)
    <br>

            Kolhapur, Maharashtra 
            
            </h6>
    <hr>
    <h6>ELIGIBLE CRITERIA</h6>  
    <hr>

    <p class="card-text">QUALIFICATION

: Graduate
<br>
<br>

Experience: 1-2 years
<br>
<br>

JOB DETAILS
<br>
<br>
• Responsible for secondary sales.
<br>
• Manage sales activities of partners (Dealers and Distributors) to generate revenue.
<br>
• Coordinate with partners to create and execute business plans to meet sales goals.
<br>
• Analyze market trends and accordingly develop sales plans to increase brand awareness.
<br>
• Evaluate partner sales performance and recommend improvements.
<br>
• Educate partners about product portfolio.
<br>
• Address partner related issues, sales conflicts and pricing issues in a timely manner.
<br>
• Develop positive working relationship with partners to build business.
<br>
• Stay current with latest developments in marketplace and competitor activities.
<br>
• Communicate up-to-date information about new products and enhancements to partners.
<br>
• Assist in partner marketing activities such as tradeshows, campaigns and other promotional activities.
<br>
• Identify, recruit and on-board new</p>
  </div>
</div>

{% endblock %}