
{% extends 'basic.html' %}

{% block title %}
about
{% endblock title %}

{% block body %}

      
<div class="card">
  <h3 class="card-header">Textile Engineer req in CANADA - AUSTRALIA</h3>
  <div class="card-body">
    <h6 class="card-title">Pear Visa Immigration Services Private Limited
    <br>
            New Delhi, Delhi
            </h6>
    <hr>
    <h6>JOB DESCRIPTION</h6>  
    <hr>

    <p class="card-text">• liaising with and providing technical advice to design, marketing, purchasing and production staff
• creating products in response to given briefs
<br>
• amending designs where necessary
<br>
• producing samples
<br>
• dyeing and printing textiles
<br>
• evaluating, identifying and selecting fabrics/products from suppliers
<br>
• ensuring that products meet set requirements and specifications (eg colour fastness, durability etc)
<br>
• checking products for suitability and testing for performance under various conditions
<br>
• controlling production and quality standards
<br>
• problem solving
<br>
• dealing with customer queries and complaints
<br>
• keeping up to date with trends and innovations</p>
    
  </div>
</div>

{% endblock %}